<!-- <div class="container">
  <app-body></app-body>
-->

<header>

    <app-header></app-header>
<!--  
  <router-outlet></router-outlet> -->
<mat-divider></mat-divider> <mat-divider></mat-divider>
<mat-divider></mat-divider> <mat-divider></mat-divider>
<mat-divider></mat-divider> <mat-divider></mat-divider>
</header>
<div class="container">
  <!-- <app-header></app-header> -->

  <!--<app-badge ngskiphydration></app-badge>-->
  <!-- <app-bottom-sheet></app-bottom-sheet> -->
  <!-- 
<app-buttons></app-buttons> -->
  <!-- <app-cards></app-cards> -->
  <router-outlet></router-outlet>
<!-- <h1 *ngif="hasRoute('/app')">Angular Materials Documentation</h1> -->
  <!-- <app-checkbox></app-checkbox> -->
</div>
<!-- </div> 
<div>
  <app-badge ></app-badge>
</div> -->
